@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(../src/assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(../src/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather-Regular';
  src: local('Merriweather-Regular'), url(../src/assets/fonts/Merriweather-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto-Bold', 'Merriweather-Regular', 'Roboto-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
